MK8_INTERNAL_SECRET_KEY=asdmsdrysfbjasdrt
MK8_JWT_SECRET=qsdqsdqsdqsdqsdqsdqsd
MK8_GRPC_HOST=localhost:50051
MK8_GRPC_API_KEY=azeazeaz
MK8_ACCOUNT_GRPC_HOST=localhost:50052
MK8_ACCOUNT_GRPC_API_KEY=azeazeaz
MK8_CDN_BASE_URL=https://r2-cdn.pretendo.cc

# Use in production:
# HOSTNAME=0.0.0.0
# PORT=8080
